<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Image Name</th>
        <th scope="col">Image</th>
        <th scope="col">Delete</th>
        <th scope="col">View</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
      
        <td>{{user.firstname}}</td>
        <td>{{user.lastname}}</td>
        <td>{{user.email}}</td>
        <td>{{user.phone}}</td>
        <td>{{user.imagename}}</td>
        <td><img src="{{user.image}}" alt="Girl in a jacket" ></td>
         <td><button  (click)="delete(user)" type="button" >Delete</button></td> 
         <td><button  (click)="get(user)" type="button" >View</button></td> 
       
      </tr>
     
    </tbody>
  </table>
